services:
  postgres:
    image: postgres:latest
    container_name: pgdb
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: cwtDb
    volumes:
      - pg_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    networks:
      - lared

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - postgres
    networks:
      - lared

volumes:
  pg_data:

networks:
  lared: